h1, h2, h3 {
  margin: 0.5em 0;
}

.layout {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  padding: 5%;
}

.profile img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

ol li {
  margin-bottom: 0.75em;
}
